APP_ENV=dev
APP_DEBUG=1
BACKEND_PORT=8000
FRONTEND_PORT=3000
NODE_ENV=development
COMPOSER_INSTALL_FLAGS=--no-interaction --prefer-dist
DATABASE_URL=postgresql://app:!ChangeMe!@database:5432/app?serverVersion=15&charset=utf8
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api
CHOKIDAR_USEPOLLING=true
